<footer>
  <p>
    Powered by: <%= link_to 'Sharon Steed', 'http://sharonsteed.com' %>
    Developed at: <%= link_to 'InstallFest 2013', 'http://reinteractive.net/service/InstallFest' %>
  </p>
</footer>